.skills {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  width: 100%;
  justify-content: center;
  align-items: center;
}


 h2 {
	 margin: 0 0 0.5em;
	 font-weight: normal;
}
 input {
	 position: absolute;
	 opacity: 0;
	 z-index: -1;
}

/* Accordion styles */
 .tabs {
	 overflow: hidden;
   width: 80%;
  }
  .tab {
    width: 100%;
    color: black;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
   margin-bottom: 10px;
  }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: white;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
}
 .tab-label:hover {
	 background: #a9a9a9;
}
 .tab-label::after {
	 content: "\276F";
	 width: 1em;
	 height: 1em;
	 text-align: center;
	 transition: all 0.35s;
}
 .tab-content {
	 max-height: 0;
	 padding: 0 1em;
	 color: black;
	 background: white;
	 transition: all 0.35s;
}
 .tab-close {
	 display: flex;
	 justify-content: flex-end;
	 padding: 1em;
	 font-size: 0.75em;
	 background: #a9a9a9;
	 cursor: pointer;
}
 .tab-close:hover {
	 background: #757574;
}
 input:checked + .tab-label {
	 background: #757574;
}
 input:checked + .tab-label::after {
	 transform: rotate(90deg);
}
 input:checked ~ .tab-content {
	 max-height: 100vh;
	 padding: 1em;
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: rgba(0, 0, 0, 0.198);
  height: 20px;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 20px;
  line-height: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 20px;
  width: 0px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  line-height: 20px;
  color: rgb(28, 28, 28);
}
