/* ========== FONTS ========== */
/* @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fredoka:wght@400;500;600&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap'); */

/*========== CSS VARIABLES ========== */
:root {
  --header-height: 3rem;

  /*===== COLORS =====*/
  --base-color: 233;
  --first-color: hsl(var(--base-color), 100%, 60%);
  --first-color-second: hsl(var(--base-color), 100%, 60%);
  --first-color-altr: hsl(var(--base-color), 57%, 53%);
  --first-color-lighter: hsl(var(--base-color), 92%, 85%);
  --title-color: hsl(var(--base-color), 8%, 15%);
  --text-color: hsl(var(--base-color), 8%, 45%);
  --text-color-light: hsl(var(--base-color), 8%, 65%);
  --input-color: hsl(var(--base-color), 70%, 96%);
  --body-color: hsl(var(--base-color), 60%, 99%);
  --container-color: #fff;

  /*===== FONTS & SIZES =====*/
  /* --body-font: 'Fredoka', sans-serif; */
  --large-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 938rem;
  --small-font-size: 813rem;
  --tiny-font-size: .75rem;

  /*===== FONTS WEIGHTS =====*/
  --font-medium: 500;
  --font-semi-bold: 600;

  --home-image: "./app/docs/port.jpg"
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  width: 100%;
  background-color: black;
}

.nav {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin:  0 auto;
}

#nav-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-links {
  color: #fff;
  text-decoration: none;
}

.nav-links:hover {
  color: blueviolet;
  transition: all 0.2s ease-out;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

@media screen and (max-width: 786px) {
  .nav-container {
    position: relative;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: red;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #nav-logo {
    margin-left: 20px;
  }

  .nav-menu.active {
    background: grey;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: aqua;
    color: #fff;
    transition: all 0.4s ease-out;
  }

  .nav {
    width: 100%;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(0%, 40%);
  }

  #mobile-menu.is-active .bar:nth-child(1) {
  transform:  translateY(8px) rotate(45deg);
}

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

    #mobile-menu.is-active .bar:nth-child(3) {
  transform:  translateY(-8px) rotate(-45deg);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 5%;
  background-position: center;
  background-size: cover;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.567);
}

.hero-text h1 {
  font-size: 3em;
  color:  #fff;
}
.hero-text p {
  font-size: 2em;
  color:  #fff;
}


.blob {
  justify-self: center;
  background-position: center;
  background-size: cover;
  height: 20em;
  width: 20em;
  border-radius: 80% 69% 75% 90% / 68% 77% 80% 69%;
  transition: all 1s ease-in-out ;
  animation: morph 20s ease-in-out infinite both alternate;
}

@media screen and (min-width: 786px) {

.hero {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: antiquewhite;
}

.hero-text {
  justify-self: center;
}

.hero-text h1 {
  font-size: 3em;
}
.hero-text p {
  font-size: 2em;
}

.blob {
  justify-self: center;
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 400px;
  border-radius: 80% 69% 75% 90% / 68% 77% 80% 69%;
  transition: all 1s ease-in-out ;
  animation: morph 20s ease-in-out infinite both alternate;
}

}




@keyframes morph{
      0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 


}


.about {
  display: grid;
  grid-template-columns: 1;
  padding-top: 5%;
  padding-bottom: 5%;
}

.about h1 {
  justify-self: center;
}

.about-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-info div {
  display: flex;
  width: fit-content;
  height: auto;
  align-items: center;
}

.about-info p {
  font-size: 1.5em;
  padding-left: 5%;
  padding-right: 5%;
}

.about-img {
    width: 400px;
    height: 310px;
    padding-left: 2%;
}

.animated-border {
  width: fit-content;
    position:relative;
    justify-self: center;
}

img{
  width:100%;
  object-fit: cover;
}

.animated-border::after {
  animation: after 7s infinite;
  content: "";
  display: block;
  position: absolute;
}

.animated-border::before {
  animation: before 6s infinite;
  content: "";
  display: block;
  position: absolute;
}

@keyframes after {
  0% {
    height: 0%;
    width: 0%;
    border: none;
  }
  40% {
    height: 0%;
    width: 0%;
    left: 95%;
    top: 95%;
    border-bottom: 3px solid white;
  }
  60% {
    top: 95%;
    height: 0%;
    width: 90%;
    left: 5%;
    border-bottom: 3px solid white;
  }
  80% {
    top: 5%;
    height: 90%;
    width: 0%;
    left: 5%;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
  100% {
    top: 5%;
    height: 0%;
    width: 0%;
    left: 5%;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
}

@keyframes before {
  0% {
    border-top: 3px solid black;
    border-right: 3px solid black;
    width: 0%;
    height: 0%;
    left: 5%;
    top: 5%;
  }
  20% {
    border-top: 3px solid black;
    width: 90%;
    height: 0px;
    left: 5%;
    top: 5%;
  }
  40% {
    border-top: 3px solid black;
    border-right: 3px solid black;
    width: 0%;
    height: 90%;
    left: 95%;
    top: 5%;
  }
  60% {
    border-top: 3px solid black;
    border-right: 3px solid black;
    width: 0%;
    height: 0%;
    left: 95%;
    top: 95%;
  }
  80% {
  }
  100% {
  }
}

.eight{
  width: 35rem;
  justify-self: center;
  padding-bottom: 2%;
}

.eight h1 {
  text-align:center;
 
  text-transform:uppercase;
  font-size:26px; letter-spacing:1px;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.eight h1:after,.eight h1:before {
  content: " ";
  display: block;
  border-bottom: 3px solid;
}

.skills {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  width: 100%;
  justify-content: center;
  align-items: center;
}


 h2 {
	 margin: 0 0 0.5em;
	 font-weight: normal;
}
 input {
	 position: absolute;
	 opacity: 0;
	 z-index: -1;
}

/* Accordion styles */
 .tabs {
	 overflow: hidden;
   width: 80%;
  }
  .tab {
    width: 100%;
    color: black;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
   margin-bottom: 10px;
  }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #a9a9a9;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
}
 .tab-label:hover {
	 background: #757574;
}
 .tab-label::after {
	 content: "\276F";
	 width: 1em;
	 height: 1em;
	 text-align: center;
	 transition: all 0.35s;
}
 .tab-content {
	 max-height: 0;
	 padding: 0 1em;
	 color: black;
	 background: white;
	 transition: all 0.35s;
}
 .tab-close {
	 display: flex;
	 justify-content: flex-end;
	 padding: 1em;
	 font-size: 0.75em;
	 background: #757574;
	 cursor: pointer;
}
 .tab-close:hover {
	 background: #757574;
}
 input:checked + .tab-label {
	 background: #757574;
}
 input:checked + .tab-label::after {
	 transform: rotate(90deg);
}
 input:checked ~ .tab-content {
	 max-height: 100vh;
	 padding: 1em;
}
 